/*
SECTION:
A utility class for creating consistent spacing between elements.

CUSTOM PROPERTIES AND CONFIGURATION
--gap: This defines the space between each item.
*/
@layer utilities {
  .section {
    --gap: var(--gap-section, 8rem);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .section[data-full-width] {
    padding-top: var(--header-height);
  }

  .section[data-inner] {
    max-width: var(--container-site);
    margin-inline: auto;
  }

  .section[data-sm] {
    --gap: 4rem;
  }
}
