/*
WRAPPER:
A common wrapper for the main content.
*/
@layer utilities {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-block-start: var(--spacing-site-start);
    max-width: var(--container-site);
    width: 100%;
    height: 100svh;
  }
}
