.dashboard {
  --calendar-width: 80%;
  --sidebar-width: calc(100% - var(--calendar-width));
  --border: 1px;
  --toggle-width: 1rem;
  --duration: 0.3s;
  --delay: 0.1s;
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.dashboard-calendar {
  overscroll-behavior: contain;
  width: var(--calendar-width);
  height: 100%;
}

@media (max-width: 767px) {
  .dashboard-calendar {
    width: 100%;
  }
}

.dashboard-sidebar-toggle {
  display: none;
}

@media (max-width: 767px) {
  .dashboard-sidebar-toggle {
    display: block;
  }
}

.dashboard-sidebar {
  position: static;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid var(--color-global-text);
  width: var(--sidebar-width);
  transform: translateX(0);
  overscroll-behavior: contain;
}

@media (max-width: 767px) {
  .dashboard-sidebar {
    position: fixed;
    top: calc(var(--header-height));
    right: 0;
    height: calc(100% - var(--header-height));
    width: 100%;
    background-color: var(--color-global-background);
    transition: transform var(--duration) ease-in-out var(--delay);
    will-change: transform;
    border-left: none;
  }

  .dashboard-sidebar.closed {
    transform: translateX(100%);
  }

  .dashboard-sidebar.open {
    transform: translateX(0);
  }
}