---
import "@styles/import.css";
import Head from "@layouts/Head.astro";
---

<!doctype html>
<html lang="en" data-user-theme="light">
  <Head title="TIDS:LOGG" description="Tidsrapportering" />
  <body> 
    <main class="wrapper relative">
        <slot />
    </main>
  </body>
</html>
 